.dashboard-container {
  padding: 1rem;
}

.rangeslider-horizontal .rangeslider__fill {
  background-color: red !important;
}

#weather .date {
  display: none;
}

#weather .info {
  display: none;
}

#weather h2 {
  display: none;
}

.rw-box-right {
  display: none;
}

.location-video {
  width: 100%;
}

.sidebar-small {
  font-size: .65rem;
  margin-left: 5px;
}
