* {
  font-family: 'Avenir', sans-serif
}

.jumbotron {
  background-image: url('images/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0px;
  margin: 0px;
  height: 90vh;
}

.brand-logo {
  width: 14em;
  padding: 0px;
  object-fit: contain;
}

#aboutLink {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.7px;
  color: #1267af;
}

#productLink {
  margin-left: 1rem;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.7px;
  color: #1267af;
}

#teamLink {
  margin-left: 1rem;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.7px;
  color: #1267af;
}

#contactLink {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .7rem;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  color: #ffffff;
}

#contactLinkBox {
  margin-left: 1rem;
  border-radius: 20px;
  background-color: #fc544c;
}

.navbar-nav {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.navbar {
  background-color: white;
}

.header {
  height: 2rem;
  background-color: #ffffff;
}

#descriptionDiv {
  height: 30vh;
  background-color: #339ffc;
}

#description {
  padding-top: 5%;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: 1.1px;
  text-align: center;
  color: #ffffff;
}

#how {
  padding-left: 10%;
  padding-top: 5em;
  height: 80vh;
  background-color: #339ffc;
}

h4 {
  width: 213px;
  font-size: 20px;
  font-weight: 450;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.stepImages {
  width: 212px;
  height: 212px;
  object-fit: contain;
  padding-bottom: 2em;
  margin: 0px;
}

.stepDescriptions {
  width: 213px;
  font-size: 16px;
  font-weight: lighter;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}


#animatedGraph {
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: 301px;
  object-fit: contain;
  box-shadow: 0 10px 40px 0 rgba(75, 75, 75, 0.4);
}

#Contact {
  height: 70vh;
  box-shadow: 0 20px 59px 0 rgba(0, 0, 0, 0.5);
  background-color: #1267af;
}

#aboutDescriptionTitle{
  margin-top: 1em;
  margin-bottom: 1em;
  width: 80%;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #4b4b4b;
}

#aboutDescription {
  width: 90%;
  padding-bottom: 3em;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #4b4b4b;
}

.placeHolder {
  margin-top: 8em;
  width: 90%;
  height: 70%;
  box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.3);
}

#threeImage {
  min-height: 80%;
  max-width: 100%;
  min-width: 95%;
}

#team {
  width: 100%;
  height: 150vh;
  background-color: #339ffc;
}

#team .media {
  margin-top: 6em;
  width: 320px;
  height: 330px;
  box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.3);
}

#teamHeader {
  text-align: center;
  width: 424px;
  height: 63px;
  font-size: 50px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  color: #ffffff;
}









.dashboard-container {
  padding: 1rem;
  font-size: .9rem;
}

.dashboard-sidebar .list-group-item {
  background-image: linear-gradient(to right, #1267a5, #339ffc);
  border: 0;
  margin-bottom: 0;
  padding: 1.5rem 2rem;
  color: #fff;
}

.dashboard-sidebar .list-group-item-action:hover {
  background-image: linear-gradient(to right, #0c5c96, #2d95ef);
}

.dashboard-sidebar .list-group-item:not(:last-child) {
  border-bottom: 1px solid #fff;
}

.list-group-item:first-child {
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.list-group-item:last-child {
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.dashboard-sidebar-small {
  font-size: .65rem;
  margin-left: 5px;
}

.rangeslider-horizontal {
  height: 5px !important;
}

.rangeslider-horizontal .rangeslider__fill {
  background-color: #fc544c !important;
}

.rangeslider-horizontal .rangeslider__handle {
  width: 15px !important;
  height: 15px !important;
  border-radius: 50% !important;
}

.rangeslider-horizontal .rangeslider__handle::after {
  content: none !important;
}

.locations-weather-events {
  padding: 0;
}

.location-video {
  width: 100%;
}

#weather .date {
  display: none;
}

#weather .info {
  display: none;
}

#weather h2 {
  display: none;
}

#weather .hr {
  display: none;
}

#weather .rw-main .rw-today .current {
  font-size: 1.3rem;
}

#weather .rw-box-right .wicon {
  font-size: 30px;
}

.rw-box-right {
  display: none;
}
